form{
	background:rgba(255,255,255,0.4);
	border:1px solid black;
	border-radius: 10px;
	margin:auto;
	margin-bottom: 50px;
	padding: 10px;
	width: 40%;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

body{
	background-image: url(../imagenes/fondo.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
}
h1,h2{
	text-shadow: 1px 2px black;
	color:white;
	text-align: center;
}
p,input[type=radio]{
	margin-top: 0px;
	margin-bottom: 0px;
}
select,input[type=text],input[type=password]{
	margin-bottom: 20px;
	border-radius: 5px;
	text-align: center;
}

input[type=submit]{
	padding: 15px;
	border-radius: 5px;
}
table{
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	background:rgba(255,255,255,0.4);
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	word-break: break-all;
	word-wrap:break-word;
}
table thead tr{
	background-color: #009879;
	color: black;
	text-align: left;
	font-weight: bold;
}	
table th, table td{
	padding:12px 15px;
}
table tbody tr{
	border-bottom: 1px solid #dddddd;
}

.margen{
	margin-bottom: 20px;
}
.botonAgregar{
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	color:white;
	background-color: #1fab1b; 
	border-color: #1fab1b;
}

.botonBuscar{
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	color: white;
	background-color: #475aff;
	border-color: #475aff;
}
.botonEliminar{
	margin-top: 0px;
	margin-bottom: 0px;
	color:white; 
	border-color: #c0392b; 
	background-color: #c0392b; 
	cursor: pointer;
}
.botonModificar{
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	color:white; 
	background-color: #5f06b2; 
	border-color: #5f06b2;
}
.botonEntrar{
	color:white;
	border-color: #11ACEB; 
	background-color: #11ACEB; 
	cursor: pointer;
}
.botonesMenuAdm{
	height: 15em;
	width: 15em;
	margin-bottom: 25px;
	margin-right: 25px;
	color: white;
	border-radius: 10px;
}
.antiwrapping{
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
.btnesControl{
	position:fixed;
	left:7%;
	top:10%;
}
.botonHome{
	height: 52px;
	padding: 10px;
	padding-left:20px;
	padding-right:20px;
	border-radius:3px;
	color: white;
	animation-name:bgchange;
	animation-duration:3s;
	animation-iteration-count:infinite;
}
.botonBack{
	width: 70px;
	height: 52px;
	padding: 10px;
	padding-left:10px;
	padding-right:10px;
	border-radius:3px;
	color: white;
	animation-name:bgchange;
	animation-duration:3s;
	animation-iteration-count:infinite;
}

@keyframes bgchange{
	0%{background-color:#1abc9c;
		border-color:#1abc9c; }
		25%{background-color:#e74c3c;
			border-color:#e74c3c; }
			50%{background-color:#3498db;
				border-color:#3498db; }
				75%{background-color:#202020;
					border-color: #202020;}
					100%{background-color:#1abc9c;
						border-color: #1abc9c;}
					}

					@media all and (max-width: 720px){
						form{
							white-space: nowrap;
							overflow: hidden;
							text-align: center;
							width: 70%;
							height: 70%;

						}
						body{
							background-size: 1024px 1024px;
							background-attachment: fixed;
						}
						input[type=text],input[type=password],button,select{
							width: 200px;
							height: 20px;
						}
						input[type=submit]{
							height: 4em;
							width: 7em;

						}
						.botonesMenuAdm{
							margin-left: 8px;
							margin-left: 8px;
							margin-top: 35px;
							white-space: normal;
							margin-bottom: 35px;
							height: 6.5em;
							width: 6.5em;
						}
						.wantiwrapping{
							margin-top : 30px;
						}
						.botonModificar{
							padding: 13px;
							font-size: 13px;
							width: 8em !important;
						}
						.botonHome{
							height: 40px;
							width: 60px;
							padding: 10px;
							padding-left:20px;
							padding-right:20px;
						}
						.botonBack{
							width: 45px;
							height: 40px;
							padding: 10px;
							padding-left:10px;
							padding-right:10px;
						}

					}